/********************************
* Html Global                   *
********************************/

/*** Elements ***/
*{
  font-family: Lato;
}
body{
  margin: 0;
  margin-top: 100px;
  background-color: #f2f2f2;
}
@media(min-width:768px){
  body{
    margin-top: 50px;
  }
}

/********************************
* Containers                    *
********************************/

/*** Admin Layout ***/
#wrapper {
  padding-left: 0;
}
#page-wrapper {
  width: 100%;
  padding: 0;
  padding: 20px 0px;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 220px;
  }
}

/*** Search Course Container ***/
.course-search-container{
  border-bottom: solid 1px #ddd;
  overflow: auto;
  margin-bottom: 10px;
}
.course-search-container .form-control, .course-search-container button{
  margin-bottom: 10px;
}
.course-search-container .control-label{
  margin-top: 8px;
}
.course-details{
  border-top: solid 1px #ddd;
  margin: 10px 0px;
  text-align: center;
}
.course-info{
  font-size: 12px;
  overflow: auto;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #EF4F69;
}

/********************************
* Panels                        *
********************************/

/*** Default Panel ***/
.panel-default{
  background-color: #fff;
}
.panel-default .chart{
  height: 250px;
}
.chart-title{
  color: #173241;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.panel-default .top-chart{
  height: 350px;
}
.panel-default .top-chart .morris-hover{
  display: none !important;
}
.panel-default #top-players-table, 
.panel-default #top-courses-table{
  margin-top: 20px;
}
.panel-default .top-players-photo{
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -khtml-border-radius: 20px;
}
.panel-default .panel-footer{
  border-color: #BDE9EB;
  overflow: auto;
}

/********************************
* Calendar                      *
********************************/
.page-header{
  margin: 0px !important;
}
.cal-cell1{
  background: #fff;
}
.cal-row-fluid.cal-row-head .cal-cell1, .row-fluid.clearfix.cal-row-head .cal-cell{
  background: #EF4F69;
  color: #fff;
}
.cal-year-box, .cal-week-box{
  background: #fff;
}

/********************************
* Timelines                     *
********************************/

/*** Timeline ***/
.timeline-container{
  background: #fdfdfd;
  border-left: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
  margin-top: -20px;
  padding: 20px;
  height: 100%;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
}
.timeline-centered {
  position: relative;
  margin: 30px 0px;
}
.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f5f6 !important;
  /*left: 50%;*/
  top: 20px;
  bottom: 20px;
  margin-left: 30px;
}
.timeline-centered .timeline-entry {
  position: relative;
  /*width: 50%;
  float: right;*/
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f5f5f6;
  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
  box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #e4687c;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #2f5597;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #4cc3a3;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #4da1d0;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #ffc000;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #a883b7;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6 !important;
  padding: 1em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent !important;
  left: 0;
  top: 10px;
  margin-left: -9px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #737881;
  font-family: "Noto Sans",sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}


/********************************
* Lists                         *
********************************/

/*** Panel List ***/
.list-group-item{
  overflow: auto;
}
.mission-title{
  font-size: 14px;
}
.mission-desc{
  font-size: 11px;
}
.mission-progress{
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px #bbb;
}
.mission-progress .progress{
  height: 10px;
  margin-top: 8px;
}
.mission-progress .progress-bar-default{
  background: #ef4f69;
}
.mission-percent{
  color: #ef4f69;
  font-weight: bold;
  font-size: 16px;
}

/********************************
* Charts                        *
********************************/

/*** Dashboard charts ***/
.morris-hover{
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style{
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255,255,255,0.8);
  border: solid 2px rgba(230,230,230,0.8);
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label{
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
  white-space: nowrap;
  margin: 0.1em 0;
}

/*** Stats ***/
.stat{
  color: #fff;
  padding: 10px;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
}
.title-stat{
  font-size: 12px;
  text-align: center;
}
.total-stat{
  font-size: 28px;
  margin-top: 10px;
}
.chart-stat{
  margin-top: 10px;
  height: 40px;
  width: 100%;
}
.footer-stat{
  text-align: center;
  margin-top: 5px;
}
.footer-stat a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 3px;
  display: block;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.green-stat{
  background: #4CC3A5;
}
.green-stat .footer-stat a{
  background: #3ea58a;
}
.green-stat .footer-stat a:hover{
  background: #fff;
  color: #3ea58a;
}
.pink-stat{
  background: #ef4f69;
}
.pink-stat .footer-stat a{
  background: #c63b50;
}
.pink-stat .footer-stat a:hover{
  background: #fff;
  color: #c63b50;
}
.blue-stat{
  background: #4DA1CF;
}
.blue-stat .footer-stat a{
  background: #448db5;
}
.blue-stat .footer-stat a:hover{
  background: #fff;
  color: #448db5;
}
.purple-stat{
  background: #A883B9;
}
.purple-stat .footer-stat a{
  background: #9273a0;
}
.purple-stat .footer-stat a:hover{
  background: #fff;
  color: #9273a0;
}
.flot-base, .flot-overlay{
  left: 10px !important;
}

/********************************
* Navbars                       *
********************************/

/*** Top Navigation ***/
.navbar{
  background-color: #173241;
}
.navbar-brand{
  background-color: #ef4f69;
  color: #fff;
}
#user-profile a{
  height: 50px !important;
  padding-top: 2px !important;
}
#user-profile ul li a{
  height: auto !important;
}
#user-profile ul li a:hover{
  background-color: #ef4f69;
  color: #fff;
}
@media (min-width: 768px){
  .navbar{
    height: 50px !important;
  }
  .navbar-header{
    height: 50px !important;
  }
  .navbar-brand{
    width: 220px;
  }
}
@media (max-width: 767px){
  .navbar-header{
    background-color: #ef4f69;
  }
  .navbar-header .icon-bar{
    background-color: #fff;
  }
  .top-nav{
    padding: 0px !important;
  }
  #user-profile{
    float: right;
  }
}
.photo-profile{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  -o-border-radius: 23px;
  -khtml-border-radius: 23px;
}
.top-nav {
  padding: 0 15px;
}
.top-nav>li {
  display: inline-block;
  float: left;
}
.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #ef4f69;
}
.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}
ul.alert-dropdown {
  width: 200px;
}

/*** Sidebar ***/
.side-nav{
  background-color: #1E475D;
  overflow: hidden !important;
}
.side-nav>li>a{
  color: #ababab;
  border-bottom: inset 2px #1C4258;
  border-top: outset 2px #224B64;
}
.side-nav li a:hover,
.side-nav li a:focus {
  outline: none;
  background-color: #173241 !important;
}
.side-nav li.active{
  background-color: #173241 !important;
  border-left: solid 5px #ef4f69;
}
.side-nav>li.active>a{
  border-top: 0px;
  border-bottom: 0px;
  color: #fff;
}
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 220px;
    width: 220px;
    margin-left: -220px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  .side-nav>li>a {
    width: 220px;
    text-align: center;
  }
  .side-nav>li>a>i{
    display: block;
    font-size: 24px;
  }
  .side-nav>li>a>span{
    display: block;
  }
}
.side-nav>li>ul {
  padding: 0;
}
.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}
.side-nav>li>ul>li>a:hover {
  color: #fff;
}
.sidebar-progress{
  color: #fff;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  padding-bottom: 0px;
}
.sidebar-progress img{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
}
.sidebar-progress span{
  font-size: 12px;
}
.sidebar-progress .progress{
  height: 10px;
}
.sidebar-progress .progress-bar-default{
  background: #ef4f69;
}
@media(max-width:768px) {
  .sidebar-progress{
    display: none !important;
  }
}

/********************************
* Form Controls                 *
********************************/

/*** Forms ***/
#login-form{
  margin-top: 100px;
}
.panel-form{
  margin-top: 20px;
}
@media all and (max-width: 768px){
  #login-form{
    margin-top: 0px;
  }
}

/*** Labels ***/
.panel-form label{
  color: #666;
}
/*** Images ***/
.img-center{
  margin: 0 auto;
}

/*** Inputs ***/
.login-control{
  border-color: #eee;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -khtml-border-radius: 0px;
  background: transparent;
  border-bottom: solid 3px #ef4f69 !important;
}
.input-group-addon{
  border-color: #eee;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -khtml-border-radius: 0px;
  background: transparent;
  border-bottom: solid 3px #ef4f69;
}
.filter-control{
  background: #fff;
  width: 50px;
  display: inline;
  border: solid 1px #ddd !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3px;
}
.filter-control option{
  color: #666;
}
.post-control{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3px 8px;
  margin-top: 5px;
  border: solid 1px #ccc;
  width: 100%;
}
.comment-control{
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border: solid 1px #ccc;
  background: #fff;
  padding: 6px;
  width: 100%;
}

/*** Buttons ***/
.btn{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.btn-primary{
  background: #ef4f69;
  color: #fff;
  border-color: #c63b50;
}
.btn-primary:hover{
  background: #c63b50;
  border-color: #c63b50;
}
.btn-login{
  margin-right: 20px;
}
.btn-half{
  width: 50% !important;
}
.btn-full{
  width: 100% !important;
}
#action-dropdown{
  right: 0 !important;
  left: auto;
}

/********************************
* Tables                        *
********************************/
.tablesorter-dropbox th, .tablesorter-dropbox thead td, .tablesorter-dropbox tfoot th, .tablesorter-dropbox tfoot td{
  background-color: #EF4F69 !important;
  color: #fff !important;
  border-color: #EF4F69 !important;
}
.header, .tablesorter-header{
  padding: 4px 20px 4px 4px;
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
}
.headerSortUp, .tablesorter-headerSortUp, .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  color: #fff;
}
.headerSortDown, .tablesorter-headerSortDown, .tablesorter-headerDesc{
  color: #fff;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.pager{
  text-align: left;
}
.btn-bar{
  margin: 20px 0px;
  text-align: right;
}
.tablesorter-filter-row .disabled{
  display: none;
}
.hide-filter{
  display: none;
}
.show-filter{
  display: table-row;
}
.top-row:first-child{
  margin-top: 5px;
  border-top: solid 1px #bbb;
}
.top-row{
  padding: 5px 0px;
  margin: 0px;
  border-bottom: solid 1px #bbb;
}
.top-row .top-players-photo{
  border: solid 3px #ddd;
}
.active-row .top-row-title{
  color: #ef4f69 !important;
}
.active-row .top-players-photo{
  border: solid 3px #ef4f69;
}
.tablesorter-dropbox{
  border-top: 0px !important;
}

/********************************
* Posts                         *
********************************/
.tab-content{
  border: solid 1px #ddd;
  overflow: auto;
  padding: 10px 0px;
  border-top: 0px !important;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
}
.nav-posts{
  margin-top: 15px;
}
.post-header{
  border-bottom: solid 1px #ddd;
  overflow: auto;
  margin-bottom: 10px;
}
.post-user{
  font-weight: bold;
  float: left;
  font-size: 12px;
}
.post-date{
  font-size: 10px;
  float: right;
}
.post-title{
  clear: both;
  font-weight: bold;
  font-size: 14px;
}